@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
    background: rgb(103,59,103);
    background: -moz-linear-gradient(180deg, rgba(103,59,103,1) 50%, rgba(138,85,123,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(103,59,103,1) 50%, rgba(138,85,123,1) 100%);
    background: linear-gradient(180deg, rgba(103,59,103,1) 50%, rgba(138,85,123,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#673b67",endColorstr="#8a557b",GradientType=1);
}